:root {
  /* Fonts */
  --pop: 'Poppins', 'Inter', sans-serif;
  --int: 'Inter', 'Poppins', sans-serif;

  /* Primary Colors */
  --black: #000;
  --white: #fff;

  /* Neutral Colors */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--pop);
}

body {
  width: 100%;
  margin: 0;
  padding: 2em 0;
  font-size: 1.6rem;
  text-align: center;
  background-color: var(--black);
  color: var(--white);
}

img {
  width: 100%;
  max-width: 350px;
  /* min-height: 10dvh; */
  object-fit: cover;
}

/* HEADER SECTION */
header {
  min-height: 10dvh;
}

h1 {
  font-size: 72px;
  font-family: 'Inter';
  background: -webkit-linear-gradient(#06fdf1, #00f335);
  background: -webkit-linear-gradient(#0055ff, #02ee50);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
}

/* MAIN SECTION */
main {
  min-height: calc(100dvh - 15dvh);
  padding: 2em 1em;
  margin: 1em 0;
}

.recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.recipes {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #0055ff;
  border-radius: 25px;
  padding: 15px;
  transition: all, cubic-bezier(0.4, 0, 0.2, 1), linear, 500ms;
  margin: 0;
}

.recipes:hover,
.recipes:active {
  transform: scale(1.05);
}

figcaption {
  text-align: center;
  padding: 25px;
  font-size: 24px;
  flex: 1;
  font-family: 'Poppins';
}

figcaption a {
  color: #fff;
  text-decoration: none;
}

/* FOOTER SECTION */
footer {
  text-align: center;
  min-height: 2dvh;
}

.copyright {
  font-size: 21px;
  font-family: 'Poppins';
  font-weight: 400;
  transition: color 0.25s;
}

/* LVHA */
.copyright:link {
  color: #06fdf1;
}

.copyright:visited {
  color: #699bff;
}

.copyright:hover {
  color: #02ee50;
}

.copyright:active {
  color: #ff6bb5;
}
